{% extends 'base.html.twig' %}

{% block title %}Edit Weather{% endblock %}

{% block body %}
    <h1>Edit Weather</h1>

    {{ include('weather_controler2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_weather_controler2_index') }}">back to list</a>

    {{ include('weather_controler2/_delete_form.html.twig') }}
{% endblock %}
