{% extends 'base.html.twig' %}

{% block title %}New Weather{% endblock %}

{% block body %}
    <h1>Create new Weather</h1>

    {{ include('weather_controler2/_form.html.twig') }}

    <a href="{{ path('app_weather_controler2_index') }}">back to list</a>
{% endblock %}
